<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hust.offer100.dao.PositionManagerMapper">
  <resultMap id="BaseResultMap" type="cn.hust.offer100.pojo.Position">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="enterprise_id" jdbcType="INTEGER" property="enterpriseId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="position_name" jdbcType="VARCHAR" property="positionName" />
    <result column="position_category" jdbcType="VARCHAR" property="positionCategory" />
    <result column="position_num" jdbcType="INTEGER" property="positionNum" />
    <result column="position_address" jdbcType="VARCHAR" property="positionAddress" />
    <result column="position_city" jdbcType="VARCHAR" property="positionCity" />
    <result column="position_temptation" jdbcType="VARCHAR" property="positionTemptation" />
    <result column="position_details" jdbcType="VARCHAR" property="positionDetails" />
    <result column="position_minwage" jdbcType="INTEGER" property="positionMinwage" />
    <result column="position_maxwage" jdbcType="INTEGER" property="positionMaxwage" />
    <result column="position_experience" jdbcType="VARCHAR" property="positionExperience" />
    <result column="position_education" jdbcType="VARCHAR" property="positionEducation" />
    <result column="position_creattime" jdbcType="TIMESTAMP" property="positionCreattime" />
    <result column="position_nature" jdbcType="VARCHAR" property="positionNature" />
    <result column="position_status" jdbcType="CHAR" property="positionStatus" />
    <result column="position_reason" jdbcType="VARCHAR" property="positionReason" />
    <result column="num" jdbcType="VARCHAR" property="num" />
    <result column="time" jdbcType="VARCHAR" property="time" />
  </resultMap>
 
 
 <resultMap id="resultAccept" type="cn.hust.offer100.dto.Accept">
 <id column="resume_id" jdbcType="INTEGER" property="resumeId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_gender" jdbcType="VARCHAR" property="userGender" />
    <result column="user_birthday" jdbcType="TIMESTAMP" property="userBirthday" />
    <result column="user_education" jdbcType="VARCHAR" property="userEducation" />
    <result column="user_workyears" jdbcType="VARCHAR" property="userWorkyears" />
    <result column="user_city" jdbcType="VARCHAR" property="userCity" />
    <result column="user_email" jdbcType="VARCHAR" property="userEmail" />
    <result column="user_phone" jdbcType="VARCHAR" property="userPhone" />
    <result column="user_image" jdbcType="VARCHAR" property="userImage" />
    <result column="user_selfvaluation" jdbcType="VARCHAR" property="userSelfvaluation" />
    <result column="user_educationexperience" jdbcType="VARCHAR" property="userEducationexperience" />
    <result column="user_interships" jdbcType="VARCHAR" property="userInterships" />
    <result column="user_project" jdbcType="VARCHAR" property="userProject" />
    <result column="user_introduction" jdbcType="VARCHAR" property="userIntroduction" />
    <result column="positionName" jdbcType="VARCHAR" property="positionName" />
    <result column="postTime" jdbcType="VARCHAR" property="postTime" />
    <result column="postId" jdbcType="INTEGER" property="postId" />
    <result column="positionId" jdbcType="INTEGER" property="positionId" />
    <result column="interviewStatus" jdbcType="VARCHAR" property="interviewStatus" />
    <result column="interviewId" jdbcType="INTEGER" property="interviewId" />
    <result column="delayTime" jdbcType="VARCHAR" property="delayTime" />
    <result column="interviewTime" jdbcType="VARCHAR" property="interviewTime" />
    

 </resultMap>
   <select id="findAll" resultMap='BaseResultMap'>
  	SELECT p.*,i.num,date_format(p.position_creattime, '%Y-%m-%d %H:%i:%s') as time FROM position as p LEFT JOIN 
	(SELECT position_id,count(position_id) as num FROM post_box as i GROUP BY i.position_id) as i ON 
	p.id=i.position_id
  	<where>
  	  <if test="positionStatus != null and positionStatus != '' ">
      ( p.position_status = #{positionStatus,jdbcType=CHAR}
      </if>
       <if test="status != null and status != '' ">
       or p.position_status = #{status,jdbcType=CHAR}
      </if>
      )
  	  <if test="userId != null and userId !=''">
       and p.user_id = #{userId} 
      </if>
      <if test="positionName != null and positionName != '' ">
       and p.position_name like concat('%',#{positionName},'%'
      </if>
      </where>
  </select>
 
 <select id="save" >
      insert into position ( enterprise_id, user_id, 
      position_name, position_category, position_num, 
      position_address, position_city, position_temptation, 
      position_details, position_minwage, position_maxwage, 
      position_experience, position_education, 
      position_nature, position_status)
    values ( #{enterpriseId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{positionName,jdbcType=VARCHAR}, #{positionCategory,jdbcType=VARCHAR}, #{positionNum,jdbcType=INTEGER}, 
      #{positionAddress,jdbcType=VARCHAR}, #{positionCity,jdbcType=VARCHAR}, #{positionTemptation,jdbcType=VARCHAR}, 
      #{positionDetails,jdbcType=VARCHAR}, #{positionMinwage,jdbcType=INTEGER}, #{positionMaxwage,jdbcType=INTEGER}, 
      #{positionExperience,jdbcType=VARCHAR}, #{positionEducation,jdbcType=VARCHAR}, 
      #{positionNature,jdbcType=VARCHAR}, #{positionStatus,jdbcType=CHAR})
 </select>
 <select id="update">
  update position
    <set>
      <if test="enterpriseId != null">
        enterprise_id = #{enterpriseId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="positionName != null">
        position_name = #{positionName,jdbcType=VARCHAR},
      </if>
      <if test="positionCategory != null">
        position_category = #{positionCategory,jdbcType=VARCHAR},
      </if>
      <if test="positionNum != null">
        position_num = #{positionNum,jdbcType=INTEGER},
      </if>
      <if test="positionAddress != null">
        position_address = #{positionAddress,jdbcType=VARCHAR},
      </if>
      <if test="positionCity != null">
        position_city = #{positionCity,jdbcType=VARCHAR},
      </if>
      <if test="positionTemptation != null">
        position_temptation = #{positionTemptation,jdbcType=VARCHAR},
      </if>
      <if test="positionDetails != null">
        position_details = #{positionDetails,jdbcType=VARCHAR},
      </if>
      <if test="positionMinwage != null">
        position_minwage = #{positionMinwage,jdbcType=INTEGER},
      </if>
      <if test="positionMaxwage != null">
        position_maxwage = #{positionMaxwage,jdbcType=INTEGER},
      </if>
      <if test="positionExperience != null">
        position_experience = #{positionExperience,jdbcType=VARCHAR},
      </if>
      <if test="positionEducation != null">
        position_education = #{positionEducation,jdbcType=VARCHAR},
      </if>
      <if test="positionCreattime != null">
        position_creattime = #{positionCreattime,jdbcType=TIMESTAMP},
      </if>
      <if test="positionNature != null">
        position_nature = #{positionNature,jdbcType=VARCHAR},
      </if>
      <if test="positionStatus != null">
        position_status = #{positionStatus,jdbcType=CHAR},
      </if>
      <if test="positionReason != null">
        position_reason = #{positionReason,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
 </select>
 
 <select id="updatePositionStatus">
  update position
    <set>
      <if test="enterpriseId != null">
        enterprise_id = #{enterpriseId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="positionName != null">
        position_name = #{positionName,jdbcType=VARCHAR},
      </if>
      <if test="positionCategory != null">
        position_category = #{positionCategory,jdbcType=VARCHAR},
      </if>
      <if test="positionNum != null">
        position_num = #{positionNum,jdbcType=INTEGER},
      </if>
      <if test="positionAddress != null">
        position_address = #{positionAddress,jdbcType=VARCHAR},
      </if>
      <if test="positionCity != null">
        position_city = #{positionCity,jdbcType=VARCHAR},
      </if>
      <if test="positionTemptation != null">
        position_temptation = #{positionTemptation,jdbcType=VARCHAR},
      </if>
      <if test="positionDetails != null">
        position_details = #{positionDetails,jdbcType=VARCHAR},
      </if>
      <if test="positionMinwage != null">
        position_minwage = #{positionMinwage,jdbcType=INTEGER},
      </if>
      <if test="positionMaxwage != null">
        position_maxwage = #{positionMaxwage,jdbcType=INTEGER},
      </if>
      <if test="positionExperience != null">
        position_experience = #{positionExperience,jdbcType=VARCHAR},
      </if>
      <if test="positionEducation != null">
        position_education = #{positionEducation,jdbcType=VARCHAR},
      </if>
      <if test="positionCreattime != null">
        position_creattime = #{positionCreattime,jdbcType=TIMESTAMP},
      </if>
      <if test="positionNature != null">
        position_nature = #{positionNature,jdbcType=VARCHAR},
      </if>
      <if test="positionStatus != null">
        position_status = #{positionStatus,jdbcType=CHAR},
      </if>
      <if test="positionReason != null">
        position_reason = #{positionReason,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
 </select>
 
 <select id="delete">
  update position set position_status=#{positionStatus} where id=#{id}
 </select>
 
 <select id="get" resultType = "Position">
 select *from position where id=#{id}
 </select>
 
 <select id="findEnterprise" resultType="java.lang.Integer">
 select enterprise_id as enterpriseId from enterprise where user_id=#{userId}
 </select>
 
 <select id="findAccept" resultMap="resultAccept">
 SELECT f.*,p.position_name as positionName,p.id as positionId,
 date_format(b.post_time, '%Y-%m-%d %H:%i:%s') as postTime 
 ,b.id as postId,
i.status as interviewStatus,i.id as interviewId,
date_format(i.delay_time, '%Y-%m-%d %H:%i:%s') as delayTime,
date_format(i.interview_time, '%Y-%m-%d %H:%i:%s')as interviewTime
 FROM 
position as p  JOIN post_box as b on p.id=b.position_id 
 JOIN resume_fundation as f ON f.resume_id=b.resume_id left join 
interview as i ON i.resume_id= f.resume_id and i.position_id=p.id 
 <where>
  and p.user_id=#{userId}
  and p.position_status=#{positionStatus}
  <if test="status!=null and status!=''">
  and b.status=#{status}
  </if>
  <if test="userName!=null and userName!=''">
  and f.user_name like concat('%',#{userName},'%')
  </if>
   <if test="city!=null and city!=''">
  and f.user_city like concat('%',#{city},'%')
  </if>
   <if test="education!=null and education!=''">
  and f.user_education like concat('%',#{education},'%')
  </if>
  <if test="gender!=null and gender!=''">
  and f.user_gender like concat('%',#{gender},'%')
  </if>
 </where>
 </select>
 
 <select id="updateAccept">
 	update post_box as b 
      <set>
      <if test="reason != null">
        b.reason = #{reason,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        b.status = #{status,jdbcType=CHAR},
      </if>
      </set>
      where b.id=#{id}
 </select>
 
 <update id="downPosition">
 	update post_box as b set b.status=#{status},b.reason=#{reason} where position_id=#{positionId}
 </update>
 
  <insert id="insertInterview" parameterType="Interview">
    insert into interview ( resume_id, user_id, 
      position_id, interview_time, interview_address, 
      contact_user, contact_phone, status)
    values ( #{resumeId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{positionId,jdbcType=INTEGER}, #{interviewTime,jdbcType=TIMESTAMP}, #{interviewAddress,jdbcType=VARCHAR}, 
      #{contactUser,jdbcType=VARCHAR}, #{contactPhone,jdbcType=VARCHAR}, #{status,jdbcType=CHAR})
  </insert>
  
  <update id="updateInterview" >
    update interview
    <set>
      <if test="resumeId != null">
        resume_id = #{resumeId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="positionId != null">
        position_id = #{positionId,jdbcType=INTEGER},
      </if>
      <if test="interviewTime != null">
        interview_time = #{interviewTime,jdbcType=TIMESTAMP},
      </if>
      <if test="interviewAddress != null">
        interview_address = #{interviewAddress,jdbcType=VARCHAR},
      </if>
      <if test="contactUser != null">
        contact_user = #{contactUser,jdbcType=VARCHAR},
      </if>
      <if test="contactPhone != null">
        contact_phone = #{contactPhone,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=CHAR},
      </if>
         <if test="delay_time != null">
        delay_time = #{delayTime,jdbcType=TIMESTAMP},
        </if>
    </set>
    where id=#{id}
  </update>
  
   <select id="findList" resultType='Position'>
  	SELECT p.*,date_format(p.position_creattime, '%Y-%m-%d %H:%i:%s') as time
    from position as p
  	<where>
  	  <if test="id != null ">
       id = #{id,jdbcType=INTEGER}
      </if>
      <if test="positionName != null">
       and position_name like concat('%',#{positionName},'%')
      </if>
      <if test="positionStatus != null">
       and position_status = #{positionStatus,jdbcType=CHAR}
      </if>
    </where>
  </select>
  
  <select id="getInterviewNum" resultType="java.lang.Integer">
 	select count(*) 
 	from interview
    where user_id=#{userId}
  </select>
  
   <select id="getPositionNum" resultType="java.lang.Integer">
 	select count(*) 
 	from position
    where user_id=#{userId}
   </select>
     
   <select id="getPostNum" resultType="java.lang.Integer">
	SELECT COUNT(*)
	FROM post_box
	WHERE position_id IN (
	SELECT id
	FROM position
	WHERE user_id=#{userId}

	)
   </select>
   
   <select id="findInterview" resultType="cn.hust.offer100.dto.InterviewDto">
   select r.user_name as userName,date_format(i.interview_time, '%Y-%m-%d %H:%i:%s')as interviewTime,p.position_name as positionName
   from interview as i join resume_fundation as r on i.resume_id = r.resume_id 
   join position as p on i.position_id = p.id
   where i.user_id = #{userId} and i.interview_time <![CDATA[ >= ]]> NOW()

   </select>
   
</mapper>