<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.hust.offer100.mapper.PositionMapper" >
  <resultMap id="BaseResultMap" type="cn.hust.offer100.pojo.Position" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="enterprise_id" property="enterpriseId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="position_name" property="positionName" jdbcType="VARCHAR" />
    <result column="position_category" property="positionCategory" jdbcType="VARCHAR" />
    <result column="position_num" property="positionNum" jdbcType="INTEGER" />
    <result column="position_address" property="positionAddress" jdbcType="VARCHAR" />
    <result column="position_city" property="positionCity" jdbcType="VARCHAR" />
    <result column="position_temptation" property="positionTemptation" jdbcType="VARCHAR" />
    <result column="position_details" property="positionDetails" jdbcType="VARCHAR" />
    <result column="position_minwage" property="positionMinwage" jdbcType="INTEGER" />
    <result column="position_maxwage" property="positionMaxwage" jdbcType="INTEGER" />
    <result column="position_minexperience" property="positionMinexperience" jdbcType="CHAR" />
    <result column="position_maxexperience" property="positionMaxexperience" jdbcType="CHAR" />
    <result column="position_education" property="positionEducation" jdbcType="VARCHAR" />
    <result column="position_creattime" property="positionCreattime" jdbcType="TIMESTAMP" />
    <result column="position_nature" property="positionNature" jdbcType="VARCHAR" />
    <result column="position_label" property="positionLabel" jdbcType="VARCHAR" />
    <result column="position_status" property="positionStatus" jdbcType="CHAR" />
    <result column="position_reason" property="positionReason" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, enterprise_id, user_id, position_name, position_category, position_num, position_address, 
    position_city, position_temptation, position_details, position_minwage, position_maxwage, 
    position_minexperience, position_maxexperience, position_education, position_creattime, 
    position_nature, position_label, position_status, position_reason
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.hust.offer100.pojo.PositionExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from position
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from position
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from position
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="cn.hust.offer100.pojo.PositionExample" >
    delete from position
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.hust.offer100.pojo.Position" >
    insert into position (id, enterprise_id, user_id, 
      position_name, position_category, position_num, 
      position_address, position_city, position_temptation, 
      position_details, position_minwage, position_maxwage, 
      position_minexperience, position_maxexperience, 
      position_education, position_creattime, 
      position_nature, position_label, position_status, 
      position_reason)
    values (#{id,jdbcType=INTEGER}, #{enterpriseId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{positionName,jdbcType=VARCHAR}, #{positionCategory,jdbcType=VARCHAR}, #{positionNum,jdbcType=INTEGER}, 
      #{positionAddress,jdbcType=VARCHAR}, #{positionCity,jdbcType=VARCHAR}, #{positionTemptation,jdbcType=VARCHAR}, 
      #{positionDetails,jdbcType=VARCHAR}, #{positionMinwage,jdbcType=INTEGER}, #{positionMaxwage,jdbcType=INTEGER}, 
      #{positionMinexperience,jdbcType=CHAR}, #{positionMaxexperience,jdbcType=CHAR}, 
      #{positionEducation,jdbcType=VARCHAR}, #{positionCreattime,jdbcType=TIMESTAMP}, 
      #{positionNature,jdbcType=VARCHAR}, #{positionLabel,jdbcType=VARCHAR}, #{positionStatus,jdbcType=CHAR}, 
      #{positionReason,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.hust.offer100.pojo.Position" >
    insert into position
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="enterpriseId != null" >
        enterprise_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="positionName != null" >
        position_name,
      </if>
      <if test="positionCategory != null" >
        position_category,
      </if>
      <if test="positionNum != null" >
        position_num,
      </if>
      <if test="positionAddress != null" >
        position_address,
      </if>
      <if test="positionCity != null" >
        position_city,
      </if>
      <if test="positionTemptation != null" >
        position_temptation,
      </if>
      <if test="positionDetails != null" >
        position_details,
      </if>
      <if test="positionMinwage != null" >
        position_minwage,
      </if>
      <if test="positionMaxwage != null" >
        position_maxwage,
      </if>
      <if test="positionMinexperience != null" >
        position_minexperience,
      </if>
      <if test="positionMaxexperience != null" >
        position_maxexperience,
      </if>
      <if test="positionEducation != null" >
        position_education,
      </if>
      <if test="positionCreattime != null" >
        position_creattime,
      </if>
      <if test="positionNature != null" >
        position_nature,
      </if>
      <if test="positionLabel != null" >
        position_label,
      </if>
      <if test="positionStatus != null" >
        position_status,
      </if>
      <if test="positionReason != null" >
        position_reason,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="enterpriseId != null" >
        #{enterpriseId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="positionName != null" >
        #{positionName,jdbcType=VARCHAR},
      </if>
      <if test="positionCategory != null" >
        #{positionCategory,jdbcType=VARCHAR},
      </if>
      <if test="positionNum != null" >
        #{positionNum,jdbcType=INTEGER},
      </if>
      <if test="positionAddress != null" >
        #{positionAddress,jdbcType=VARCHAR},
      </if>
      <if test="positionCity != null" >
        #{positionCity,jdbcType=VARCHAR},
      </if>
      <if test="positionTemptation != null" >
        #{positionTemptation,jdbcType=VARCHAR},
      </if>
      <if test="positionDetails != null" >
        #{positionDetails,jdbcType=VARCHAR},
      </if>
      <if test="positionMinwage != null" >
        #{positionMinwage,jdbcType=INTEGER},
      </if>
      <if test="positionMaxwage != null" >
        #{positionMaxwage,jdbcType=INTEGER},
      </if>
      <if test="positionMinexperience != null" >
        #{positionMinexperience,jdbcType=CHAR},
      </if>
      <if test="positionMaxexperience != null" >
        #{positionMaxexperience,jdbcType=CHAR},
      </if>
      <if test="positionEducation != null" >
        #{positionEducation,jdbcType=VARCHAR},
      </if>
      <if test="positionCreattime != null" >
        #{positionCreattime,jdbcType=TIMESTAMP},
      </if>
      <if test="positionNature != null" >
        #{positionNature,jdbcType=VARCHAR},
      </if>
      <if test="positionLabel != null" >
        #{positionLabel,jdbcType=VARCHAR},
      </if>
      <if test="positionStatus != null" >
        #{positionStatus,jdbcType=CHAR},
      </if>
      <if test="positionReason != null" >
        #{positionReason,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.hust.offer100.pojo.PositionExample" resultType="java.lang.Integer" >
    select count(*) from position
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update position
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.enterpriseId != null" >
        enterprise_id = #{record.enterpriseId,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.positionName != null" >
        position_name = #{record.positionName,jdbcType=VARCHAR},
      </if>
      <if test="record.positionCategory != null" >
        position_category = #{record.positionCategory,jdbcType=VARCHAR},
      </if>
      <if test="record.positionNum != null" >
        position_num = #{record.positionNum,jdbcType=INTEGER},
      </if>
      <if test="record.positionAddress != null" >
        position_address = #{record.positionAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.positionCity != null" >
        position_city = #{record.positionCity,jdbcType=VARCHAR},
      </if>
      <if test="record.positionTemptation != null" >
        position_temptation = #{record.positionTemptation,jdbcType=VARCHAR},
      </if>
      <if test="record.positionDetails != null" >
        position_details = #{record.positionDetails,jdbcType=VARCHAR},
      </if>
      <if test="record.positionMinwage != null" >
        position_minwage = #{record.positionMinwage,jdbcType=INTEGER},
      </if>
      <if test="record.positionMaxwage != null" >
        position_maxwage = #{record.positionMaxwage,jdbcType=INTEGER},
      </if>
      <if test="record.positionMinexperience != null" >
        position_minexperience = #{record.positionMinexperience,jdbcType=CHAR},
      </if>
      <if test="record.positionMaxexperience != null" >
        position_maxexperience = #{record.positionMaxexperience,jdbcType=CHAR},
      </if>
      <if test="record.positionEducation != null" >
        position_education = #{record.positionEducation,jdbcType=VARCHAR},
      </if>
      <if test="record.positionCreattime != null" >
        position_creattime = #{record.positionCreattime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.positionNature != null" >
        position_nature = #{record.positionNature,jdbcType=VARCHAR},
      </if>
      <if test="record.positionLabel != null" >
        position_label = #{record.positionLabel,jdbcType=VARCHAR},
      </if>
      <if test="record.positionStatus != null" >
        position_status = #{record.positionStatus,jdbcType=CHAR},
      </if>
      <if test="record.positionReason != null" >
        position_reason = #{record.positionReason,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update position
    set id = #{record.id,jdbcType=INTEGER},
      enterprise_id = #{record.enterpriseId,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      position_name = #{record.positionName,jdbcType=VARCHAR},
      position_category = #{record.positionCategory,jdbcType=VARCHAR},
      position_num = #{record.positionNum,jdbcType=INTEGER},
      position_address = #{record.positionAddress,jdbcType=VARCHAR},
      position_city = #{record.positionCity,jdbcType=VARCHAR},
      position_temptation = #{record.positionTemptation,jdbcType=VARCHAR},
      position_details = #{record.positionDetails,jdbcType=VARCHAR},
      position_minwage = #{record.positionMinwage,jdbcType=INTEGER},
      position_maxwage = #{record.positionMaxwage,jdbcType=INTEGER},
      position_minexperience = #{record.positionMinexperience,jdbcType=CHAR},
      position_maxexperience = #{record.positionMaxexperience,jdbcType=CHAR},
      position_education = #{record.positionEducation,jdbcType=VARCHAR},
      position_creattime = #{record.positionCreattime,jdbcType=TIMESTAMP},
      position_nature = #{record.positionNature,jdbcType=VARCHAR},
      position_label = #{record.positionLabel,jdbcType=VARCHAR},
      position_status = #{record.positionStatus,jdbcType=CHAR},
      position_reason = #{record.positionReason,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.hust.offer100.pojo.Position" >
    update position
    <set >
      <if test="enterpriseId != null" >
        enterprise_id = #{enterpriseId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="positionName != null" >
        position_name = #{positionName,jdbcType=VARCHAR},
      </if>
      <if test="positionCategory != null" >
        position_category = #{positionCategory,jdbcType=VARCHAR},
      </if>
      <if test="positionNum != null" >
        position_num = #{positionNum,jdbcType=INTEGER},
      </if>
      <if test="positionAddress != null" >
        position_address = #{positionAddress,jdbcType=VARCHAR},
      </if>
      <if test="positionCity != null" >
        position_city = #{positionCity,jdbcType=VARCHAR},
      </if>
      <if test="positionTemptation != null" >
        position_temptation = #{positionTemptation,jdbcType=VARCHAR},
      </if>
      <if test="positionDetails != null" >
        position_details = #{positionDetails,jdbcType=VARCHAR},
      </if>
      <if test="positionMinwage != null" >
        position_minwage = #{positionMinwage,jdbcType=INTEGER},
      </if>
      <if test="positionMaxwage != null" >
        position_maxwage = #{positionMaxwage,jdbcType=INTEGER},
      </if>
      <if test="positionMinexperience != null" >
        position_minexperience = #{positionMinexperience,jdbcType=CHAR},
      </if>
      <if test="positionMaxexperience != null" >
        position_maxexperience = #{positionMaxexperience,jdbcType=CHAR},
      </if>
      <if test="positionEducation != null" >
        position_education = #{positionEducation,jdbcType=VARCHAR},
      </if>
      <if test="positionCreattime != null" >
        position_creattime = #{positionCreattime,jdbcType=TIMESTAMP},
      </if>
      <if test="positionNature != null" >
        position_nature = #{positionNature,jdbcType=VARCHAR},
      </if>
      <if test="positionLabel != null" >
        position_label = #{positionLabel,jdbcType=VARCHAR},
      </if>
      <if test="positionStatus != null" >
        position_status = #{positionStatus,jdbcType=CHAR},
      </if>
      <if test="positionReason != null" >
        position_reason = #{positionReason,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.hust.offer100.pojo.Position" >
    update position
    set enterprise_id = #{enterpriseId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      position_name = #{positionName,jdbcType=VARCHAR},
      position_category = #{positionCategory,jdbcType=VARCHAR},
      position_num = #{positionNum,jdbcType=INTEGER},
      position_address = #{positionAddress,jdbcType=VARCHAR},
      position_city = #{positionCity,jdbcType=VARCHAR},
      position_temptation = #{positionTemptation,jdbcType=VARCHAR},
      position_details = #{positionDetails,jdbcType=VARCHAR},
      position_minwage = #{positionMinwage,jdbcType=INTEGER},
      position_maxwage = #{positionMaxwage,jdbcType=INTEGER},
      position_minexperience = #{positionMinexperience,jdbcType=CHAR},
      position_maxexperience = #{positionMaxexperience,jdbcType=CHAR},
      position_education = #{positionEducation,jdbcType=VARCHAR},
      position_creattime = #{positionCreattime,jdbcType=TIMESTAMP},
      position_nature = #{positionNature,jdbcType=VARCHAR},
      position_label = #{positionLabel,jdbcType=VARCHAR},
      position_status = #{positionStatus,jdbcType=CHAR},
      position_reason = #{positionReason,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>